$categories: (
 ionic: color($colors, primary),
 angular: #AC282B,
 communication: #8E8D93,
 tooling: #FE4C52,
 services: #FD8B2D,
 design: #FED035,
 workshop: #69BB7B,
 food: #3BC7C4,
 documentation: #B16BE3,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }

  ion-item-options[side=left] > .fit-left{
    padding:0 4em;
    font-size:20px;
    text-transform: capitalize;
  }

  ion-item-options[side=right] > .fit-right{
    padding:0 5em;
    font-size:20px;
    text-transform: capitalize;
  }

  .float-left{
    padding-top:7.5em;
    float:left;
  }

  .float-right{
    margin-top:7.5em;
    float:right; 
  }

  .check {
    display:box; 
    margin:0 auto;
    text-align: center;
  }
  .check > img[class=cls] {
    padding-top:1em;
    width:17.2em;
  }
  
  .text-center {
    text-align:center;
  }

  .status span {
    font-size:1.5em;
  }

  div[class=text-center] > p {
    font-size:15px;
  }

  ion-col[class=text-center] > p {
    font-size:18px;
  }

  div[class=text-center] > p{
    text-transform: capitalize;
    margin-bottom:-0.1em;
    font-size:15px;

  }

  div[class=text-center] > button {
    text-transform: capitalize;
  }

 .clui{
    padding:0 0.3em;
  }

  .no-margin-top{
    margin-top:-1.5em;
  }

}
